
.nav-icons * {
  display: flex;
  justify-content: center;
}

.background-color1{
  background-color: #fbf97a;
  background-image: url("images/yellowbackground.png");
  height: 100vh;
}

@media only screen and (max-height: 550px) {
.background-color1{
  height: 800px;
}
}

@media only screen and (min-width: 400px) {
.background-color1{
  height: 700px;
}
}

@media only screen and (min-width: 600px) {
  .fill {
    height: 600px;
  }
  .tag {
  display: flex;
  justify-content: center;
}
}

@media only screen and (max-width: 600px) {
    .fill{
      height:200px;
}
}

/* @media all and (max-width: 480px) {
  .tag { display: none; }
} */

.align-developer{
  display: flex;
  align-self: flex-start;
}

.background-color2{
  background-color: #997ddb; 
}

.background-color3{
  background-color: #E4572E;
}

.margin-left{
  display: flex;
  justify-content: flex-end;
}

.profile-photo{
  width: 330px;
  height: 310px;
}

.n-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.n-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.m-l {
  margin-left: 3.5rem;
  margin-top: .5rem;
}

.opacity{
  opacity: 0.2;
}

.fabby {
  color: white;
}

.logoSize{
  width: 70px;
  height: auto;
}

.mongoSize{
  width: 150px;
  height: auto;
  padding-top: 30px;
}

.white-font{
  color: white;
}

.hr-white{
  background-color: white;
}

.logo-row {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.logo-img {
  height: 150px;
  width: auto;
}


@media screen and (max-width: 600px) {
  .logo-img {
    height: 200px;
  }
}

.centercircle{
  text-align: center;
}

.projecttitle{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
.marginsPara{
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
}
}

@media only screen and (max-width: 1000px) {
.marginsPara{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
}

/* .marginsPara{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
} */


.removeLinkDecor{
  color: white;
  text-decoration: none;
}

.frameWork{
  text-align: center;
  margin-top: 10px;
}

.footer-awesome{
  color: grey ;
  font-size: 50px;
}

.center-footer{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

/*
@media (min-width: 992px)
  .masthead {
    max-height: 500vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
}*/